*{
    margin: 0;
    padding: 0;
}
#escena{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position:relative;
}
#pj{
    position: absolute;
    top: 125px;
    left: 170px;
    width: 200px;
    height: 200px;
    animation-name: salto;
    animation-duration: 8s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    z-index:10;
}
#barril1{
    position: absolute;
    width: 160px;
    height: 160px;
    top: 515px;
    left: 1230px;
}
#barril2 {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 530px;
    left: 180px;
    transform: rotate(-20deg);
    z-index: 15;
}
.girobarril{
    animation-name: rotarBarril;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes rotarBarril{
    from {
        transform: rotate(-80deg);
    }
    to{
        transform: rotate(80deg);
    }
}
@keyframes salto {
    0% {
     top: -150px; 
     left: 170px;
     z-index: 10;
   }
    10% {
     top: 125px;
     left: 170px;
     z-index: 10;
     }
     25% { 
     top: 0px;
     left: 450px;
     z-index: 10;
     }
     40% {
     top: 260px;
     left: 800px; 
     z-index: 10; 
     }
    55% { 
        top: 180px;
        left: 650px;
        z-index: 10;
        opacity: 1;
    }
    70% {
        top: 530px; 
        left: 180px; 
        z-index: 10;
        transform: rotate(-20deg);
        opacity: 1;
    }
    70.1% { 
        top: 530px; 
        left: 180px; 
        z-index: 10; 
       opacity: 0;
    }
    74% { 
        top: 530px; 
        left: 180px; 
        z-index: 10; 
        opacity: 0;
    }
    75% {
        top: 500px;
        left: 180px;
        z-index: 10;
        opacity: 1;
        transform: rotate(0deg); 
    }
    100% {
        top: -500px;
        left: 350px; 
        transform: rotate(720deg);
        z-index: 20;
        opacity: 1;
    }
}